@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-montserrat), sans-serif;
    font-weight: 700;
  }

  h1 {
    font-size: 85px;
    text-transform: uppercase;
    color: var(--black);
  }

  h2 {
    font-size: 42px;
    color: #222222;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-weight: 300;
    font-size: 24px;
  }

  h5 {
    font-size: 24px;
    text-transform: uppercase;
  }

  h6 {
    font-weight: 600;
    font-size: 18px;
  }

  p {
    /* font-weight: 300; */
    font-size: 20px;
    line-height: 36px;
  }

  a {
    text-decoration: none;
  }

  a {
    transition: background-color 0.5s ease;
    transition: color 1s;
    -webkit-transition: color 1s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
    -moz-transition: 0.5s;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }

  a:hover {
    transition: background-color 0.5s ease;
  }

  strong {
    font-weight: 700;
  }
}

@layer components {
  .custom-container {
    @apply px-[15px] lg:w-[1200px] md:w-[992px] sm:w-[750px] mx-auto;
  }
}

.counter-list {
  counter-reset: my-counter;
}

.counter-list li::before {
  counter-increment: my-counter;
  content: counter(my-counter) ') ';
  margin-right: 8px;
  font-size: medium;
}
